################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Malware/.vs/Malware
/Malware/.vs/ProjectEvaluation
